<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
    
  <appSettings>
    <add key="token" value="bot token" />
    <add key="appName" value="Xeno Discord Bot" />
    <add key="appUrl" value="http://xenorp.com/" />
    <add key="serverName" value="XenoRP" />
    <add key="status" value="Status on Start" />
    <add key="commandPrefix" value="~" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>